public/tiles
public/opt
public/tiles*
public/crucible*
public/data
public/map-ui.js
public/leaflet-src.js*
public/config.js
public/static
public/keyplace
public/maplog
public/kp
public/ml
public/kptest
public/mltest
public/pl
public/plbackup
public/publicMapChangeData
.~lock*
elm-stuff
