var oholMapConfig = {
  mainTiles: 'tiles/{z}/{x}/{y}.png',
  crucibleTiles: 'crucible/{z}/{x}/{y}.png',
  seedsUrl: 'pl/{server}/seeds.json',
  spansUrl: 'pl/{server}/spans.json',
  keyPlacements: 'pl/{server}/{time}/kp/{z}/{x}/{y}.txt',
  keyIndex: 'pl/{server}/{time}/kp/{z}/index.txt',
  maplog: 'pl/{server}/{time}/ml/{z}/{x}/{y}.txt',
  actmap: 'pl/{server}/{time}/am/{z}/{x}/{y}.png',
  actIndex: 'pl/{server}/{time}/am/{z}/index.txt',
  keySearch: 'pl/{server}/{time}/ks/{id}.txt',
  keySearchIndex: 'pl/{server}/{time}/ks/index.txt',
  keySearchNotable: 'pl/{server}/{time}/notable.txt',
  logSearch: 'pl/{server}/{time}/ls/{id}.txt',
  logSearchIndex: 'pl/{server}/{time}/ls/index.txt',
  actIndex: 'pl/{server}/{time}/am/{z}/index.txt',
  lineageUrl: 'https://wondible.com/ohol-family-trees/',
  cachedApiUrl: 'http://localhost:5000/',
  apiUrl: 'http://localhost:5000/',
  //cachedApiUrl: '//ohol-data-cache.wondible.com/',
  //apiUrl: '//ohol-data-server.herokuapp.com/',
  //cachedApiUrl: 'https://ohol-data-cache.wondible.com/',
  //apiUrl: 'https://ohol-data-server.herokuapp.com/',
}
